@charset 'utf-8';

/* 나눔바른고딕 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 100;
  src: url('../fonts/NanumBarunGothicUltraLight.woff2') format('woff2'), 
       url('../fonts/NanumBarunGothicUltraLight.woff') format('woff'), 
       url('../fonts/NanumBarunGothicUltraLight.otf') format('opentype');
 }
 @font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 300;
  src: url('../fonts/NanumBarunGothicLight.woff2') format('woff2'), 
       url('../fonts/NanumBarunGothicLight.woff') format('woff'), 
       url('../fonts/NanumBarunGothicLight.otf') format('opentype');
 }
 @font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  src: url('../fonts/NanumBarunGothic.woff2') format('woff2'), 
       url('../fonts/NanumBarunGothic.woff') format('woff'), 
       url('../fonts/NanumBarunGothic.otf') format('opentype');
 }
 @font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 700;
  src: url('../fonts/NanumBarunGothicBold.woff2') format('woff2'), 
       url('../fonts/NanumBarunGothicBold.woff') format('woff'), 
       url('../fonts/NanumBarunGothicBold.otf') format('opentype')
 }

 
 @font-face { 
  font-family: 'GmarketSans'; 
  src: url('../fonts/GmarketSansMedium.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal;
 } 
 @font-face { 
  font-family: 'GmarketSans'; 
  src: url('../fonts/GmarketSansLight.woff') format('woff'); 
  font-weight: 300; 
  font-style: normal;
 } 
 @font-face { 
  font-family: 'GmarketSans'; 
  src: url('../fonts/GmarketSansBold.woff') format('woff'); 
  font-weight: 700; 
  font-style: normal;
 } 
 
